:root {
  --bluecolor: #1976d2;
  --bluelightcolor: #5aa1e7;
  --redcolor: #d32f2f;
  --greencolor: #2e7d32;
  --orangecolor: #ed6c02;
  --purbecolor: #9c27b0;
  --textcolor: #ffffff;
  --boxshadow1: 0 2px 6px 0 rgb(0 0 0 / 30%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 300px;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {

  background-color: #f6f6f6;
  box-shadow: 0 0 10px #ddd inset;
}

::-webkit-scrollbar-thumb {
  background-color: #ba68c8;
  /* border-radius: 50px; */

}

::-webkit-scrollbar-thumb:hover {
  background-color: #9c27b0;

}



html {
  scroll-behavior: smooth;
  

}


#root {

 
  background-color: #222538;
  

}

.page {
  width: 90vw;
  height: 90vh;
  background-color: transparent;
  color: #ffffff;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  position: relative;
  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  overflow: hidden;

}

.sidebar {
  width: 100%;
  height: 10%;
  background-color: #1f2136;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 1px solid #ba68c8;
}

.mainbody {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #23253a;
  height: 80%;
  color: #fff;

}

.footer {
  width: 100%;
  background-color: transparent;
  height: 10%;
  color: #ffffff;
}